@import (less) "main.less";

@buttonSize: 72px;
@iconHeight: 28px;
@iconWidth: sin(60deg) * @iconHeight;
@pauseGapWidth: @iconWidth / 4;

.playButton {
  display: inline-block;
  position: relative;
  background: @colorBg;
  outline: none;
  border: none;
  padding: 0;
  font-size: 1em;
  height: @buttonSize;
  width: @buttonSize;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
  }

  .playButton-icon {
    position: relative;

    // Play-icon triangle
    &:before {
      content: "";
      position: absolute;
      top: -@iconHeight/2;
      left: (@buttonSize - @iconWidth)/2;
      height: @iconHeight;
      border-style: solid;
      border-width: @iconHeight/2 0 @iconHeight/2 @iconWidth;
      border-color: transparent transparent transparent @colorFg;
      transition: .25s ease;
      margin-left: @iconWidth / 10; // Move icon into center "visually"
    }

    // Invisible (zero-width) gap for pause-icon
    &:after {
      content: "";
      position: absolute;
      background: @colorBg;
      height: @iconHeight;
      top: -@iconHeight/2;
      width: 0;
      left: (@buttonSize - 0)/2;
      transition: .25s ease;
    }
  }

  &[data-state_desired = "playing"] .playButton-icon {
    // Pause-icon rectangle
    &:before {
      border-width: 0 0 0 @iconWidth;
      margin-left: 0;
    }

    // Pause-icon gap
    &:after {
      width: @pauseGapWidth;
      left: (@buttonSize - @pauseGapWidth)/2;
    }
  }

  .playButton-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid @colorFg;
    border-radius: 50%;
  }

  &[data-state_actual = "playing"] .playButton-border {
    border-style: dashed;
    animation: spin 4s linear infinite;
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
