{% extends "html/layout.njk" %}

{% block body %}
<header id="header" class="slide">
  {% include "html/renee-menu.njk" %}

  <div class="logo">
    <img src="./img/logo.png" alt="RENÉE.fm">
  </div>

  <div class="info">
    <div class="player">
      <button id="toggleAudio" class="playButton">
        <div class="playButton-border"></div>
        <div class="playButton-icon"></div>
      </button>
    </div>

    <div class="currentShow">
      <p>Live on Air</p>
      <p class="currentShow-title state-loading"></p>
    </div>

    <div class="more">
      <a class="skip-link no-indication" href="#main"><img src="./img/icon/arrow-down.svg" class="arrow-down" alt="Scroll down"></a>
    </div>
  </div>
</header>

<div id="main" class="main slide">
  <div id="intro" class="rich-text">
    <a class="button" target="_blank" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=8WB256BU8REVS&source=url">
      Jetzt Spenden
    </a>
    <p>
      {{ homepage.intro_text | safe }} </p>
  </div>

  <section id="agenda">
    {% if events.length > 0 %}
    <p>
      {{ homepage.agenda_title }} </p>
    <ul class="eventList">
      {% for event in events %}
      <li class="event">
        <div class="date">{{ event.start_text }}</div>
        <div class="description rich-text">{{ event.title | safe }}</div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="eventList-info"></div>
    {% endif %}
  </section>

  {% include "html/footer.njk" %}

  <script src="./js/radio-player.js"></script>
  <script src="./js/current-show.js"></script>
</div>

{% endblock %}
